@model Nsr.Common.Core.Models.SkillItemModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.SkillId)

@(Html.LocalizedEditor<SkillItemModel, SkillItemLocalizedModel>("info-localized",
    @<div>
        <div class="form-group">
            @Html.HiddenFor(model => model.Locales[item].LanguageId);
            @Html.LabelFor(model => model.Locales[item].Name, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Locales[item].Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Locales[item].Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Locales[item].LevelDescription, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Locales[item].LevelDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Locales[item].LevelDescription)
            </div>
        </div>
    </div>
    ,
    @<div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LevelDescription, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.LevelDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LevelDescription)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Level, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Level, new { @class = "form-control", type = "number", min = "0", max = "10", style = "width: 80px;" })
                @Html.ValidationMessageFor(model => model.Level)
            </div>
        </div>
    </div>
                                                ))


<div class="form-group">
    <div class="col-md-offset-1 col-md-3">
        <input class="btn btn-danger" type="submit" value="Save" />
        @Html.ActionLink("Back to list", "ItemIndex", new { skillId = Model.SkillId }, new { @class = "btn btn-default" })
    </div>
</div>
