@model IEnumerable<Wp.Localization.Core.LocaleStringResource>

@{
    ViewData["Title"] = "Resources";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutBootstrap.cshtml";
}

<h1>Resources</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Name
            </th>
            <th>
                Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "ResourceEdit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
