@model IEnumerable<Nsr.RestClient.Models.Localization.LocaleStringResource>

@{
    ViewData["Title"] = "Resources";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutBootstrap.cshtml";
}

<h1>Resources</h1>


<form asp-controller="Localization" asp-action="ImportXml" method="post"  enctype="multipart/form-data" class="form-inline bg-light">
    
    <input type="hidden" name="languageId" value="@ViewBag.LanguageId" />
    <input type="file" name="file" />
    <button type="submit" class="btn btn-dark">Upload File</button>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Name
            </th>
            <th>
                Value
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResourceValue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "ResourceEdit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
