@model IEnumerable<Wp.Web.Mvc.AboutMe.Models.ResumeAdminModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutBootstrap.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@T("Common.AddNew")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserName)
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Education" asp-route-resumeId="@item.Id">Education</a>
                <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Skill" asp-route-resumeId="@item.Id">Skill</a>
                <a class="btn btn-outline-secondary" asp-action="Index" asp-controller="Experience" asp-route-resumeId="@item.Id">Experience</a>
                <a asp-action="Edit" asp-route-id="@item.Id">@T("Common.Edit")</a>
                <a asp-action="Delete" asp-route-id="@item.Id">@T("Common.Delete")</a>
            </td>
        </tr>
}
    </tbody>
</table>
