@model IEnumerable<Nsr.Common.Core.Models.ExperienceModel>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Back", "Index", "Resume",null, new { @class = "btn btn-default pull-right" })
        @Html.ActionLink("Create New", "Create", new { ResumeId = @ViewBag.ResumeId }, new { @class = "btn btn-default pull-right" })
        
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td> 
                            @Html.ActionLink("Projects", "ProjectIndex", new { experienceId = item.Id, resumeId = item.ResumeId }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
