@model IEnumerable<Nsr.RestClient.Models.WorkHistories.ProjectModel>

@{
    ViewBag.Title = "ItemIndex";
}

<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Back", "Index", new { ResumeId = @ViewBag.ResumeId }, new { @class = "btn btn-default pull-right" })
        @Html.ActionLink("Create New Project", "ProjectCreate", new{experienceId = @ViewBag.ExperienceId}, new{@class = "btn btn-default pull-right"})
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Technology)
                    </th>
                   
                    <th></th>
                </tr>
                @foreach (var item in Model) {
                    <tr>
                         <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Technology)
                        </td>                        
                        <td>
                            @Html.ActionLink("Edit", "ProjectEdit", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "ProjectDelete", new { id=item.Id })
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>
