@model Wp.Web.Areas.Admin.Models.WebPageModel

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>

@Html.HiddenFor(model => model.Id)

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => model.VirtualPath)
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.VirtualPath)
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(model => model.NavigationName)
    </div>
    <div class="col-md-4">
        @Html.DisplayFor(model => model.NavigationName)
    </div>
</div>

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
         <input type="submit" value="Delete" class="btn" />
    </div>
</div>        
}
<div class="row">
     <div class="col-md-12">
        @Html.ActionLink("Back to List", "Index", null,new{ @class="btn pull-right"})       
    </div>
</div>
