@model Wp.Web.Framework.Models.Admin.WebPageModel
@using Wp.Core.Domain.WebPages

<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>

<h1>Edit</h1>

<h4>Web page</h4>
<hr />

<ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#general" data-toggle="tab">General</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#meta" data-toggle="tab">Meta's</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#security" data-toggle="tab">Securtiy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.Id)
    <div class="tab-content">
        <div class="tab-pane active" id="general">
            <div class="form-group row mt-sm-2">
                <label asp-for="VirtualPath" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="VirtualPath" class="form-control" />
                    <span asp-validation-for="VirtualPath" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NavigationName" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="NavigationName" class="form-control" />
                    <span asp-validation-for="NavigationName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DisplayOrder" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="DisplayOrder" class="form-control" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 text-sm-right font-weight-bold">@Html.DisplayNameFor(model => model.Visible)</div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Visible" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 text-sm-right font-weight-bold">@Html.DisplayNameFor(model => model.AllowAnonymousAccess)</div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="AllowAnonymousAccess" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="meta">
            <div class="form-group row mt-sm-2">
                <label asp-for="MetaKeywords" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="MetaKeywords" class="form-control" />
                    <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MetaDescription" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="MetaDescription" class="form-control" />
                    <span asp-validation-for="MetaDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MetaTitle" class="control-label col-sm-3 text-sm-right font-weight-bold"></label>
                <div class="col-sm-3">
                    <input asp-for="MetaTitle" class="form-control" />
                    <span asp-validation-for="MetaTitle" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="security">
            <div class="form-group">
                <label class="col-md-3 control-label">Roles:</label>
                <div class="col-md-3">
                    <table class="table" style="width: 100%">
                        <tr>
                            <th>
                                RoleName
                            </th>
                            <th>
                                None
                            </th>
                            <th>
                                View
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Create
                            </th>
                            <th></th>
                        </tr>
                        @{
                            int index = 0;
                            foreach (var role in Model.Roles)
                            {
                                <tr>

                                    <td>
                                        @role.Name @Html.Hidden("Roles[" + index + "].Name", role.Name)
                                        @Html.Hidden("Roles[" + index + "].Id", role.Id)
                                    </td>
                                    <td>@Html.RadioButton("Roles[" + index + "].PermissionLevel", PermissionLevel.None, role.PermissionLevel == PermissionLevel.None)</td>
                                    <td>@Html.RadioButton("Roles[" + index + "].PermissionLevel", PermissionLevel.View, role.PermissionLevel == PermissionLevel.View)</td>
                                    <td>@Html.RadioButton("Roles[" + index + "].PermissionLevel", PermissionLevel.Edit, role.PermissionLevel == PermissionLevel.Edit)</td>
                                    <td>@Html.RadioButton("Roles[" + index + "].PermissionLevel", PermissionLevel.Create, role.PermissionLevel == PermissionLevel.Create)</td>
                                </tr>
                                index++;
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="offset-sm-3 col-sm-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
