@model Wp.Web.Mvc.About.Models.ProjectModel

<script src="//cdn.ckeditor.com/4.5.0/full/ckeditor.js"></script>


@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.ExperienceId)

@(Html.LocalizedEditor<ProjectModel, ProjectLocalizedModel>("info-localized",
    @<div>
        @Html.HiddenFor(model => model.Locales[item].LanguageId)
        <div class="form-group">
            @Html.LabelFor(model => model.Locales[item].Name, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Locales[item].Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Locales[item].Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Locales[item].Technology, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Locales[item].Technology, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Locales[item].Technology)
            </div>
        </div>
         <div class="form-group">
             @Html.LabelFor(model => model.Locales[item].Description, new { @class = "col-md-1 control-label" })
             <div class="col-md-6">
                 <textarea id="ckeditor_Html_@Model.Locales[item].LanguageId" class="ckeditor" rows="10" name="Locales[@item].Description">@Model.Locales[item].Description</textarea>
                 <script type="text/javascript">
                var editor = CKEDITOR.replace('ckeditor_Html_@Model.Locales[item].LanguageId',
        {
            toolbar: 'CustomFull',
            height: 250
        });

        CKFinder.setupCKEditor(editor, '@Url.Content("~/ckfinder/")')
                 </script>
             </div>
         </div>        
    </div>
    ,
    @<div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Technology, new { @class = "col-md-1 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.Technology, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Technology)
            </div>
        </div>
         <div class="form-group">
             @Html.LabelFor(model => model.Description, new { @class = "col-md-1 control-label" })
             <div class="col-md-6">
                 <textarea id="ckeditor1" class="ckeditor" rows="10" name="Description">@Model.Description</textarea>
                 <script type="text/javascript">
        var editor = CKEDITOR.replace('ckeditor1',
        {
            toolbar: 'CustomFull',
            height: 250
        });

        CKFinder.setupCKEditor(editor, '@Url.Content("~/ckfinder/")');
                 </script>

                 @Html.ValidationMessageFor(model => model.Description)
             </div>
         </div>
    </div>
                                ))


<div class="form-group">
    <div class="col-md-offset-1 col-md-3">
        <input class="btn btn-danger" type="submit" value="Save" />
        @Html.ActionLink("Back to list", "ProjectIndex", new { experienceId = Model.ExperienceId }, new { @class = "btn btn-default" })
    </div>
</div>
