@model IEnumerable<Wp.Web.Mvc.AboutMe.Models.EducationItemAdminModel>

@{
    ViewBag.Title = "ItemIndex";
}

<div class="row">
    <div class="col-md-10">
        @Html.ActionLink("Back", "Index", new { ResumeId = @ViewBag.ResumeId }, new { @class = "btn btn-default pull-right" })
        @Html.ActionLink("Create New", "ItemCreate", new{educationId = @ViewBag.EducationId}, new{@class = "btn btn-default pull-right"})
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Place)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Period)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model) {
                    <tr>
                         <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Period)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "ItemEdit", new { id=item.Id, resumeId = ViewBag.ResumeId }) |
                            @Html.ActionLink("Delete", "ItemDelete", new { id=item.Id })
                        </td>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>
