@model Wp.Web.Mvc.Models.WorkHistories.WorkHistoryDetailsModel

<div class="container">
    <div class="row">
        <div class="col-md-9" style="margin-top:44px;">
            <div class="row">
                <div class="col-md-11">
                    <div class="card">
                        <div class="card-header">
                            <h4><strong>// @Html.DisplayNameFor(model => model.Summary)</strong></h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> @Html.Raw(Model.Summary)</p>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="card-header">
                        <h4><strong>// @Html.DisplayNameFor(model => model.Educations)</strong></h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text"> <partial name="~/Views/Sections/WorkHistory/_Education.cshtml" model="Model.Educations">  @*@Html.Partial("_Education", Model.Educations)*@</p>
                    </div>                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="card-header">
                        <h4>// @Html.DisplayNameFor(model => model.Experiences)</h4>
                    </div>
                    <div class="card-body">
                        
                        <p class="card-text"> <partial name="~/Views/Sections/WorkHistory/_Experience.cshtml" model="Model.Experiences">  @*@Html.Partial("_Experience", Model.Experiences)*@</p>
                    </div>                    
                </div>
            </div>
        </div>

        <div class="col-md-3 text-center" style="margin-top:84px;">

            <img src="~/Images/_MG_0755 (3).jpg" alt="..." class="img-responsive img-circle img-thumbnail"><br />
            <h4>@Html.DisplayFor(model => model.Name)</h4>

            @if (!string.IsNullOrEmpty(Model.DateOfBirth))
            {
                @Html.DisplayNameFor(model => model.DateOfBirth) @Html.DisplayFor(model => model.DateOfBirth)<br /><br />
            }

            @Html.DisplayFor(model => model.Address)<br />
            @Html.DisplayFor(model => model.PostalCode), @Html.DisplayFor(model => model.Town) <br />

            <i class="fa fa-phone"></i> @Html.DisplayFor(model => model.Phone) <br />
            <i class="fa fa-mobile"></i> @Html.DisplayFor(model => model.Mobile) <br />
            <i class="fa fa-envelope"></i> <a href="mailto:@Model.Email">@Model.Email</a> <br />
            <i class="fa fa-globe"></i> <a href=@Model.Website>Website</a> <br />
            @*<address>
                    <strong>@Html.DisplayFor(model => model.Name)</strong><br>
                    @Html.DisplayFor(model => model.Address)
                    <br>
                    @Html.DisplayFor(model => model.PostalCode), @Html.DisplayFor(model => model.Town)
                </address>*@
            @*<address>
                    <abbr title="Phone"><strong>T: </strong></abbr>
                    @Html.DisplayFor(model => model.Phone)
                    <br>
                    <abbr title="Mobile"><strong>M: </strong></abbr>
                    @Html.DisplayFor(model => model.Mobile)
                    <br />
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:@Model.Email">@Model.Email</a>
                    <br />
                    <abbr title="Website"><strong>W: </strong></abbr>
                    <a href="@Model.Website">Website</a><br>
                </address>*@

            <div class="row">
                <div class="col-md-12 text-left" style="margin-top:20px;">
                    <h4>// @Html.DisplayNameFor(model => model.Skills)</h4>

                    <div class="row">
                        <div class="col-md-12">
                            <partial name="~/Views/Sections/WorkHistory/_Skill.cshtml" model="Model.Skills">
                        </div>
                    </div>
                    <br />
                </div>
            </div>

        </div>
    </div>
</div>

